body 
{
    background-color:#fefefe;
    clear:both;
}
#nav 
{
    background-color:#eef;
    margin: 0.5em 0;
    padding: 0.4em 0;
}
#container
{
    clear:both
}
#sidebar 
{
    float:left;
    width:250px;
    border-right: 1px solid #eeeeef;
    text-align:center;
    height: 337px;
}
#sidebar table 
{
    margin:auto;
}
#content 
{
    margin-left:250px;
    padding:1em;
}

.rememberme label 
{
    float:left;
}

.rememberme input
{
    float:left;
}